---
apiVersion: v1
kind: Secret
metadata:
  name: dashboard
  namespace: longhorn
  labels:
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/component: dashboard
type: Opaque
data:
  {{ manifests_longhorn.username }}: {{ manifests_longhorn.password }}
