---
apiVersion: v1
kind: Service
metadata:
  name: haproxy
  namespace: haproxy
  labels:
    app.kubernetes.io/name: haproxy
    app.kubernetes.io/component: haproxy
  template:
spec:
  selector:
    app.kubernetes.io/name: haproxy
    app.kubernetes.io/component: haproxy
  ports:
    - name: http
      port: 80
      targetPort: http
    - name: https
      port: 443
      targetPort: https
  externalIPs:
    {% for ip in manifests_haproxy.external_ips -%}
    - {{ ip }}
    {% endfor %}