---
apiVersion: v1
kind: Secret
metadata:
  name: dashboard
  namespace: haproxy
  labels:
    app.kubernetes.io/name: haproxy
    app.kubernetes.io/component: dashboard
type: Opaque
data:
  {{ manifests_haproxy.username }}: {{ manifests_haproxy.password }}
