---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homebridge
  namespace: homebridge
  labels:
    app.kubernetes.io/name: homebridge
data:
  config.json: |
    {
      "bridge": {
        "name": "Homebridge",
        "username": "{{ manifests_homebridge.username | upper }}",
        "port": 51711,
        "pin": "{{ manifests_homebridge.pin }}",
        "advertiser": "bonjour-hap"
      },
      "platforms": [
        {
          "platform": "config",
          "name": "Dashboard",
          "port": 8581
        },
        {
          "platform": "cmdSwitch2",
          "name": "CMD Switch",
          "switches": [
            {
              "name": "Office Desk",
              "on_cmd": "/homebridge/linak.sh move stand",
              "off_cmd": "/homebridge/linak.sh move sit",
              "state_cmd": "/homebridge/linak.sh state",
              "polling": true,
              "interval": 1,
              "timeout": 30
            },
            {
              "name": "Living Room Playstation",
              "on_cmd": "playactor wake --host-name {{ manifests_homebridge.devices.living_room_playstation.name }}",
              "off_cmd": "playactor standby --host-name {{ manifests_homebridge.devices.living_room_playstation.name }}",
              "state_cmd": "playactor check --host-name {{ manifests_homebridge.devices.living_room_playstation.name }} | grep -i '200 Ok'",
              "polling": true,
              "interval": 5,
              "timeout": 30
            }
          ]
        },
        {
          "platform": "webostv",
          "devices": [
            {
              "name": "Living Room TV",
              "ip": "{{ manifests_homebridge.devices.living_room_tv.ip }}",
              "mac": "{{ manifests_homebridge.devices.living_room_tv.mac }}",
              "pollingInterval": 5,
              "volumeControl": false,
              "channelControl": false
            }
          ]
        }
      ],
      "accessories": [
        {
          "accessory": "Thermostat",
          "name": "Living Room Thermostat",
          "temperatureDisplayUnits": 0
        },
        {
          "accessory": "Thermostat",
          "name": "Living Room Humidity",
          "temperatureDisplayUnits": 0
        }
      ]
    }

  startup.sh: |
    #!/usr/bin/env bash

    service bluetooth start

    unbuffer ./linak.sh server &> ./linak.log &

  package.json: |
    {
      "dependencies": {
        "homebridge": "1.7.0",
        "homebridge-cmdswitch2": "0.2.10",
        "homebridge-dummy-thermostat": "1.1.0",
        "homebridge-webos-tv": "2.4.3",
        "playactor": "0.4.1"
      }
    }

  linak.yaml: |
    adapter_name: hci0
    mac_address: {{ manifests_homebridge.devices.office_desk.mac }}
    connection_timeout: 10
    movement_timeout: 30
    base_height: 620
    server_address: 127.0.0.1
    server_port: 9123
    favourites:
      sit: {{ manifests_homebridge.devices.office_desk.sit }}
      stand: {{ manifests_homebridge.devices.office_desk.stand }}

  linak.sh: |
    #!/usr/bin/env bash

    STATE_FILE="/homebridge/linak_state"
    STATE_SIT="sit"
    STATE_STAND="stand"

    CMD_SERVER="server"
    CMD_STATE="state"
    CMD_MOVE="move"

    main() {
      state_init

      [[ "$1" == "$CMD_SERVER" ]] && { server; exit "$?"; }
      [[ "$1" == "$CMD_STATE" ]] && { state; exit "$?"; }
      [[ "$1" == "$CMD_MOVE" ]] && { move "$2"; exit "$?"; }

      echo "Invalid command!"; exit 1
    }

    state_init() {
      [[ ! -f "$STATE_FILE" ]] && state_save "$STATE_SIT" || true
    }

    state_save() {
      echo "$1" > "$STATE_FILE"
    }

    state() {
      [[ "$(cat "$STATE_FILE")" == "$STATE_STAND" ]] && return 0 || return 1
    }

    move() {
      move_stop
      move_to "$1"
      state_save "$1"
    }

    move_to() {
      echo "{\"command\": \"move_to\", \"move_to\": \"$1\"}" | nc -w 1 127.0.0.1 9123
    }

    move_stop() {
      move_to 0
    }

    server() {
      until idasen-controller --tcp-server; do
        sleep 3
      done
    }

    main "$1" "$2"

  playactor.json: |
    {
      "{{ manifests_homebridge.devices.living_room_playstation.mac }}": {
        "app-type": "r",
        "auth-type": "R",
        "client-type": "vr",
        "model": "w",
        "user-credential": "{{ manifests_homebridge.devices.living_room_playstation.credentials }}",
        "accountId": "{{ manifests_homebridge.devices.living_room_playstation.account_id }}",
        "registration": {
          "AP-Bssid": "{{ manifests_homebridge.devices.living_room_playstation.bssid }}",
          "AP-Name": "PS5",
          "PS5-Mac": "{{ manifests_homebridge.devices.living_room_playstation.mac | lower }}",
          "PS5-RegistKey": "{{ manifests_homebridge.devices.living_room_playstation.regist_key }}",
          "PS5-Nickname": "{{ manifests_homebridge.devices.living_room_playstation.name }}",
          "RP-KeyType": "2",
          "RP-Key": "{{ manifests_homebridge.devices.living_room_playstation.rp_key }}"
        }
      }
    }
