---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: homebridge
  namespace: homebridge
  labels:
    app.kubernetes.io/name: homebridge
    app.kubernetes.io/component: homebridge
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: homebridge
      app.kubernetes.io/component: homebridge
  template:
    metadata:
      labels:
        app.kubernetes.io/name: homebridge
        app.kubernetes.io/component: homebridge
    spec:
      hostNetwork: true
      nodeSelector:
        kubernetes.io/hostname: agent1
      containers:
        - name: homebridge
          image: "{{ manifests_homebridge.image }}"
          env:
            - name: TZ
              value: {{ manifests_homebridge.timezone }}
          ports:
            - name: homebridge
              containerPort: 51711
            - name: dashboard
              containerPort: 8581
          volumeMounts:
            - name: homebridge
              mountPath: /homebridge
              subPath: homebridge
            - name: homebridge
              mountPath: /var/lib/bluetooth
              subPath: bluetooth
            - name: config
              mountPath: /homebridge/package.json
              subPath: package.json
            - name: config
              mountPath: /homebridge/config.json
              subPath: config.json
            - name: config
              mountPath: /homebridge/startup.sh
              subPath: startup.sh
            - name: config
              mountPath: /home/homebridge/.config/linak-controller/config.yaml
              subPath: linak.yaml
            - name: config
              mountPath: /homebridge/linak.sh
              subPath: linak.sh
            - name: config
              mountPath: /home/homebridge/.config/playactor/credentials.json
              subPath: playactor.json
          securityContext:
            privileged: true
      volumes:
        - name: homebridge
          persistentVolumeClaim:
            claimName: homebridge
        - name: config
          configMap:
            name: homebridge
            defaultMode: 0777
