---
apiVersion: v1
kind: Service
metadata:
  name: coredns
  namespace: coredns
  labels:
    app.kubernetes.io/name: coredns
    app.kubernetes.io/component: coredns
  template:
spec:
  selector:
    app.kubernetes.io/name: coredns
    app.kubernetes.io/component: coredns
  ports:
    - name: udp
      port: 53
      protocol: UDP
      targetPort: udp
  externalIPs:
    {% for ip in manifests_coredns.external_ips -%}
    - {{ ip }}
    {% endfor %}
