---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: registry
  namespace: registry
  labels:
    app.kubernetes.io/name: registry
    app.kubernetes.io/component: registry
    cert-manager.io/cluster-issuer: selfsigned
  annotations:
    ingress.kubernetes.io/auth-type: basic-auth
    ingress.kubernetes.io/auth-secret: registry
spec:
  rules:
    - host: {{ manifests_registry.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: registry
                port:
                  name: registry
  tls:
    - hosts:
        - {{ manifests_registry.host }}
      secretName: registry-cert
